<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>name</key>
	<string>Brandon</string>
	<key>ordering</key>
	<array>
		<string>CBC90BA8-53E9-4924-98CC-2E678C7037BB</string>
		<string>E2C0E68B-2FA2-48C4-BE13-1392D0D51842</string>
		<string>9CEF580D-9518-4790-8F1B-5BB2DD1FF814</string>
		<string>B01DC1CC-A2F7-4BD4-ABE1-CEFFB4824FE9</string>
	</array>
	<key>uuid</key>
	<string>4DB05693-40AE-4CD4-9984-479F4E7C21F6</string>
</dict>
</plist>
