<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>command</key>
	<string>if [[ ! -f "$TM_NEW_FILE" ]]; then
	perl -pe 's/\$\{([^}]*)\}/$ENV{$1}/g' &lt; untitled.md &gt; "$TM_NEW_FILE"
fi</string>
	<key>extension</key>
	<string>md</string>
	<key>keyEquivalent</key>
	<string>^~@m</string>
	<key>name</key>
	<string>MultiMarkdown</string>
	<key>uuid</key>
	<string>9CEF580D-9518-4790-8F1B-5BB2DD1FF814</string>
</dict>
</plist>
