<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>command</key>
	<string>if [[ ! -f "$TM_NEW_FILE" ]]; then
	perl -pe 's/\$\{([^}]*)\}/$ENV{$1}/g' &lt; untitled.rb &gt; "$TM_NEW_FILE"
fi</string>
	<key>extension</key>
	<string>rb</string>
	<key>keyEquivalent</key>
	<string>^~@r</string>
	<key>name</key>
	<string>Ruby</string>
	<key>uuid</key>
	<string>B01DC1CC-A2F7-4BD4-ABE1-CEFFB4824FE9</string>
</dict>
</plist>
